<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Danh sách sản phẩm</title>
</head>
<body>
<a href="/create-product">Tạo mới sản phẩm</a>
<h1>Danh sách</h1>
<table border="1">
    <tr>
        <th>Tên</th>
        <th>Nhà sản xuất</th>
        <th>Cập nhật</th>
        <th>Xoá</th>
    </tr>
    <!--/*@thymesVar id="products" type=""*/-->
    <th:block th:each="product : ${products}">
        <tr>
            <td th:text="${product.name}"></td>
            <td th:text="${product.producer}"></td>
            <td><a th:href="@{/edit-product/__${product.id}__ }">sửa</a></td>
            <td><a th:href="@{/delete-product/__${product.id}__ }">xoá</a></td>
        </tr>
    </th:block>
</table>
</body>
</html>
